/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    color: var(--light);
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
#sidebar.active {
    left: 0;
    border-right: 1px solid #0c6251;
}
#sidebar h4{
    margin: .5em;
    color: var(--primary);
}

.sidebar-title {
    padding: 0.8rem 0;
    width: 100%;
    background: var(--primary);
}

.sidebar-title .btn{
    margin: 0 0.8rem;
}

#dismiss {
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}

#sidebar .underline-li {
    border-bottom: 1px solid #0c6251;
}

#sidebar ul p {
    color: var(--light);
    padding: 10px;
}

#sidebar ul li a {
    padding: 8px;
    display: block;
}
#sidebar ul li ul li a {
    padding-left: 20px;
}
#sidebar ul li a.active {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    border: 1px;
}
#sidebar ul li ul {
    color: #0c6251;
    background-color: #d1f2eb;
    border-color: #beece3;
}

#sidebar a:hover {
    text-decoration: none;
    color: var(--white);
    background: var(--primary);
}

#sidebar a {
    color: var(--primary);
}
#sidebar .sidebar-title {
    color: var(--white);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    background: var(--success);
}

.sort-link:hover {
    color: var(--white) !important;
}
.sort-link i {
  font-size: 18px;
}




/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.gisue {
    display: inline-block;
    padding: .3em .5em;
    margin: 1px;
    /* font-size: 75%; */
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    background-color: var(--success);
    border-color: var(--success);
    color: #fff !important;
}

.gisue:hover {
  color: #fff;
  background-color: var(--secondary);
  border-color: var(--primary);
}

.gisue:focus, .gisue.focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(24, 188, 156, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(24, 188, 156, 0.5) !important;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
footer > .bigbox {
    max-width: 960px;
    margin: 0 auto;
}

.col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3,
.col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9,
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3,
.col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9,
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3,
.col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}
.form-group .array-item {
  width: 100%;
  box-shadow: 2px 1px 1px 0px rgba(0,0,0,0.2);
  margin-bottom: 0.5rem;
}
.form-group .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
div.form-group .row p, div.form-group .row button{
  margin: 0px !important;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12,
.col-xs, .col-xs-auto {
  position: relative;
  float: left;
}
.col-xs-3 {
  width: 8.3333333333%;
}
.col-xs-2 {
  max-width: 16.6666666667%;
}
.col-xs-10 {
  max-width: 83.3333333333%;
}
.col-xs-9 {
  width: 91.6666666667%;
}
